---
title: Test results
---

## Request your results

[Request your test results online through Accurx](https://florey.accurx.com/p/P84678).

You can also call [0161&nbsp;445&nbsp;1957](tel:01614451957) or visit reception for results of tests or investigations requested by your GP.

The surgery does not routinely telephone patients with results.

## Tests requested by a hospital

If a hospital consultant requested your test, contact the hospital for the result.
